*{
    font-family: sans-serif;
    color: #fff;
}

body{
    background: #111;

    height: 100vh;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 200px;

    margin: 0;
}

.input-container{
    justify-self: center;
    align-self: center;
}

.input{
    width: 300px;
}

.button{
    width: 80px;
    letter-spacing: 2px;
}

.input-style{
    background: transparent;
    border: solid 1px rgba(255, 255, 255, 0.591);
    padding: 5px;
}

.input-style:hover{
    background: rgba(255, 255, 255, .2);
}

.color-container{
    display: flex;
    justify-content: space-between;

    margin-top: 30px;
}

.text-container{
    justify-self: center;

}

.text{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.color{
    padding: 15px;

    border: solid 1px white;

    transition: .2s;
}

.color:hover{
    transform: scale(1.3);
}


.crazy{
    padding: 15px;

    border: solid 1px white;

    transition: .2s;

}

.crazy:hover{
    transform: scale(1.3);
}


.crazy-animation{
    animation-name: crazy-animation;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-fill-mode: both;
}

@keyframes crazy-animation {

    0%{
        color: red;
        background: red;
    }

    10% {
        color: blue;
        background: blue;
    }

    20% {
        color: yellow;
        background: yellow;
    }

    30% {
        color: magenta;
        background: magenta;
    }

    40% {
        color: red;
        background: red;
    }

    50% {
        
        color: blue;
        background: blue;
    }

    60%{
        color: yellow;
        background: yellow;
    }

    70%{
        color: magenta;
        background: magenta;
    }

    80%{
        color: red;
        background: red;
    }

    90%{
        color: blue;
        background: blue;
    }

    100% {
        color: yellow;
        background: yellow;
    }
}







.crazy-animation-text{
    animation-name: crazy-animation-text;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-fill-mode: both;
}

@keyframes crazy-animation-text {

    0%{
        color: red;
    }

    10% {
        color: blue;
    }

    20% {
        color: yellow;
    }

    30% {
        color: magenta;
    }

    40% {
        color: red;
    }

    50% {
        
        color: blue;
    }

    60%{
        color: yellow;
    }

    70%{
        color: magenta;
    }

    80%{
        color: red;
    }

    90%{
        color: blue;
    }

    100% {
        color: yellow;
    }
}
